.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.register_area{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.register_area h3{
    
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    border-bottom:1px solid #ccc;
    background-color: #ececec;
    font-size: 18px;
    font-weight: 400;
}
.register_area .login{
    margin-right: 10px;
    float: right;
    font-size: 14px;
}
.login a{
    color: #c81523;
}
.register_form{
    width: 600px;
    margin:  50px auto 0;
    /* margin :上左右下 */
}
.register_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.register_form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid#ccc;
}
.error{
    color: #c81523;
}
.register_form ul li {
    margin-bottom: 20px;
}
.safe{
    padding-left: 175px;
}
.safe em{
    padding: 0 12px;
    color: #fff;
}
.safe .ruo{
    background-color: #de1111;
}
.safe .zhong{
    background-color: #40b83f;
}
.safe .qiang{
    background-color: #f79100;
}
.agree{
    padding-left: 100px;
}
.agree input{
    vertical-align: middle;
    margin-right: 5px;
}
.agree a{
    color: #1ba1e6;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin-left: 70px;
    margin-top: 30px;
}